* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: rgb(42, 27, 109);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.img {
  width: 250px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#playPauseBtn {
  background-color: #ff4081; /* Rosa vibrante */
  color: white; /* Texto branco */
  border: none; /* Sem borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 8px; /* Cantos arredondados */
  cursor: pointer; /* Muda o cursor ao passar em cima */
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  user-select: none; /* Impede seleção do texto */
}

#playPauseBtn:hover {
  background-color: #e73370; /* Rosa um pouco mais escuro ao passar o mouse */
}

#playPauseBtn:active {
  background-color: #c1225e; /* Rosa mais escuro ao clicar */
  box-shadow: none;
  transform: translateY(2px); /* Dá um efeito de pressionar */
}

/* Botões fora da imagem */
button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
}

button.prev {
  left: -20px;
}

button.next {
  right: -20px;
}

.text {
  color: aliceblue;
  margin-top: 20px;
  text-align: center;
}

.titulo {
  color: aliceblue;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.text h1 {
  font-size: 1.5rem;
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 500;
}
